@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=IBM+Plex+Sans+Thai+Looped:wght@400;500&family=Indie+Flower&family=Montserrat&family=Montserrat+Alternates&family=Open+Sans:wght@300;400&family=Roboto&family=Rock+3D&family=Varela+Round&display=swap");

body {
  background-color: black;
}
table {
  padding-bottom: 85px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 30px;
  background-color: black;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  height: 430px;
  margin: 80px auto;
  margin-bottom: 40px;
  box-shadow: 3px 2px #5e6266, 8px 5px 3px #000, -2px 5px 3px #ccd3db,
    -4px -2px 3px #333, 4px -2px 3px #ccc;
}
td {
  width: 65px;
  height: 65px;
  padding: 4px 8px;
}
span {
  color: white;
}
footer{
  color: white;
  font-family:"IBM Plex Sans Thai Looped", sans-serif;
  text-align: center;
}
footer a{
  color: #f69906;
  text-decoration: none;
}


.bar{
background-color: rgb(169, 169, 169, 0.2);
  width: 50%;
  padding: 4px;
  display: inline-block;
  margin-right: 18px;
  margin-left: 20px;
  border-radius: 40px;

}
.frontcamera{
  background:  linear-gradient(rgba(3, 21, 46, 0.9) 0%, hsla(215,30%,70%,0) 50%, rgba(3, 21, 46,0.9) 100%),
  linear-gradient(to right, rgba(38, 69, 114, 0.8) 30%, rgb(0, 2, 5) 50%, rgba(38, 69, 114, 0.8) 70%);
  padding: 6px;
  display: inline-block;
  border-radius: 50%;
}

.network,
.connection,
.loading {
  max-width: 15px;
  float: right;
}
.loading {
  max-width: 20px;
}

.btn {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  padding: 8px;
  font-size: 28px;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
  transition: 200ms ease-in-out all;
}

.btn-zero {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  border: 1px solid grey;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: left;
  padding-left: 28px;
  font-size: 28px;
  color: white;
  border: none;
  font-family: "IBM Plex Sans Thai Looped", sans-serif;
}
.btn-orange {
  background-color: #f69906;
  color: white;
  font-weight: 80px;
}

.btn-grey {
  background-color: #9f9f9f;
  color: black;
  font-weight: 500;
}
.btn-darkgrey {
  background-color: #313131;
  color: white;
}
.btn-darkgrey:hover {
  background-color: rgb(128, 128, 128, 0.9);
}
.btn-grey:hover {
  background-color: rgb(255, 255, 255, 0.8);
}
.btn-orange:hover {
  background-color: rgb(255, 255, 255);
  color: #f69906;
}
.btn-zero:hover {
  background-color: rgb(128, 128, 128, 0.9);
}

#output {
  padding-top: 100px;
  text-align: right;
  font-size: 48px;
  color: white;
}

/*mobile phone device auch für ältere iphones*/
@media (max-width: 480px) {

   td {

padding: 2px 2px;
}

}
